@import url("../bulma-1.0.4/css/bulma.min.css");
@import url("../tostify-js/node_modules/toastify-js/src/toastify.css");

.navbar {
  top: 0;
  position: sticky !important;
}

.is-middle {
  text-align: center !important;
  vertical-align: middle !important;
}
